@layer citry-ui.theme {
  :where([data-citry-ui-part="group"]) {
    --_cui-group-gap: var(--cui-group-gap, 0.5rem);
    display: flex;
    min-inline-size: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--_cui-group-gap);
  }

  :where([data-citry-ui-part="group"][data-wrap]) {
    flex-wrap: wrap;
  }

  :where([data-citry-ui-part="group"][data-gap="0"]) {
    --_cui-group-gap: var(--cui-group-gap, 0);
  }

  :where([data-citry-ui-part="group"][data-gap="xs"]) {
    --_cui-group-gap: var(--cui-group-gap, 0.25rem);
  }

  :where([data-citry-ui-part="group"][data-gap="md"]) {
    --_cui-group-gap: var(--cui-group-gap, 0.75rem);
  }

  :where([data-citry-ui-part="group"][data-gap="lg"]) {
    --_cui-group-gap: var(--cui-group-gap, 1rem);
  }

  :where([data-citry-ui-part="group"][data-gap="xl"]) {
    --_cui-group-gap: var(--cui-group-gap, 1.5rem);
  }

  :where([data-citry-ui-part="group"][data-align="start"]) {
    align-items: flex-start;
  }

  :where([data-citry-ui-part="group"][data-align="end"]) {
    align-items: flex-end;
  }

  :where([data-citry-ui-part="group"][data-align="stretch"]) {
    align-items: stretch;
  }

  :where([data-citry-ui-part="group"][data-align="baseline"]) {
    align-items: baseline;
  }

  :where([data-citry-ui-part="group"][data-justify="center"]) {
    justify-content: center;
  }

  :where([data-citry-ui-part="group"][data-justify="end"]) {
    justify-content: flex-end;
  }

  :where([data-citry-ui-part="group"][data-justify="between"]) {
    justify-content: space-between;
  }

  :where([data-citry-ui-part="group"][data-justify="around"]) {
    justify-content: space-around;
  }

  :where([data-citry-ui-part="group"][data-justify="evenly"]) {
    justify-content: space-evenly;
  }

  :where([data-citry-ui-part="group"][data-reverse]) {
    flex-direction: row-reverse;
  }

  :where([data-citry-ui-part="group"] > *) {
    min-inline-size: 0;
  }
}
